/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

h1
{
	font-family: Arial;
	color: #000000;
	border-bottom: solid 1px #bf0000;
	width: 100%;
	font-weight: bold;
	text-align: center;
}

h2
{
	font-family: Arial;
	margin-top: 22pt;
	text-align: left;
	color: #000000;
}

h3
{
	font-family: Arial;
	text-align: left;
	margin-top: 22pt;
}

h4
{
	font-family: Arial;
	font-weight: bold;
	font-size: 10pt;
	margin-top: 22pt;
	text-align: left;
	margin-bottom: 10pt;
	mc-heading-level: 0;
}

h5
{
	font-family: Arial;
}

h6
{
	font-family: Arial;
}

div
{
	font-family: arial;
}

p
{
	font-family: Arial;
	margin-bottom: 10pt;
	margin-top: 0;
	text-align: left;
	mc-hyphenate: never;
	font-size: 10pt;
}

p.imgPerMP
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
}

p.note
{
	margin-bottom: 10pt;
	margin-top: 0;
	border-bottom: solid 1px;
	border-top: solid 1px;
	margin-left: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding: 5px;
	page-break-inside: avoid;
	background-color: #ffffff;
	border-bottom-color: #f06e5a;
	border-top-color: #f06e5a;
}

table
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	border-collapse: collapse;
	padding-bottom: 30px;
	width: 100%;
	text-align: left;
	margin-bottom: 10pt;
	border-spacing: 0px;
	border-style: solid;
	border-bottom: solid 0px #000000;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-width: 0px;
	padding: 0px;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border: solid 1px #aaaaaa;
	font-family: Arial;
	font-size: 10pt;
}

tr
{
	border-width: 0px;
	border-collapse: collapse;
	border: solid 0px;
}

td
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left-style: solid;
	border-left-width: 1;
	border-right-style: solid;
	border-right-width: 1;
	border-top-style: solid;
	border-top-width: 1;
	border-bottom-style: solid;
	border-bottom-width: 1;
	font-family: arial;
	page-break-inside: avoid;
	border-width: 0px;
	border-collapse: inherit;
	padding: 5px;
	border: solid 1px #aaaaaa;
	mc-hyphenate: never;
	vertical-align: top;
	font-size: 10pt;
}

td.required
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left-style: solid;
	border-left-width: 1;
	border-right-style: solid;
	border-right-width: 1;
	border-top-style: solid;
	border-top-width: 1;
	border-bottom-style: solid;
	border-bottom-width: 1;
	font-family: arial;
	page-break-inside: avoid;
	border-width: 0px;
	border-collapse: inherit;
	padding: 5px;
	font-size: 10pt;
	border: solid 1px #aaaaaa;
	color: black;
	font-size: 8pt;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	width: 12%;
}

td.cannotSet
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left-style: solid;
	border-left-width: 1;
	border-right-style: solid;
	border-right-width: 1;
	border-top-style: solid;
	border-top-width: 1;
	border-bottom-style: solid;
	border-bottom-width: 1;
	font-family: arial;
	page-break-inside: avoid;
	border-width: 0px;
	border-collapse: inherit;
	padding: 5px;
	font-size: 10pt;
	border: solid 1px #aaaaaa;
	color: #aaaaaa;
	font-size: 8pt;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	width: 12%;
}

td.optional
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left-style: solid;
	border-left-width: 1;
	border-right-style: solid;
	border-right-width: 1;
	border-top-style: solid;
	border-top-width: 1;
	border-bottom-style: solid;
	border-bottom-width: 1;
	font-family: arial;
	page-break-inside: avoid;
	border-width: 0px;
	border-collapse: inherit;
	padding: 5px;
	font-size: 10pt;
	border: solid 1px #aaaaaa;
	color: black;
	font-size: 8pt;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	width: 12%;
}

thead
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 9pt;
	color: #3d3d3d;
	background-color: #efefef;
	text-align: center;
	mc-hyphenate: never;
}

tbody
{
	font-family: Arial;
	font-size: 10pt;
	border-collapse: collapse;
}

th
{
	background-color: #bf0000;
}

li
{
	font-family: Arial;
	margin-bottom: 10pt;
	page-break-inside: avoid;
	mc-hyphenate: never;
	font-size: 10pt;
}

tr.level1
{
	background-color: #ffffff;
}

p.pageNum
{
	text-align: right;
}

h1.docTitle
{
	font-size: 36pt;
}

MadCap|tocProxy
{
	border-top-width: 0px;
	padding-left: 0px;
	text-align: left;
	mc-heading-level: 2;
}

p.TOC1
{
	font-weight: bold;
	margin-bottom: 2pt;
	color: #a41f04;
}

MadCap|xref
{
	mc-format: '{paratext} (page {page})';
}

address
{
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-color: #f06e5a;
	border-bottom-style: solid;
	border-left-color: #f06e5a;
	border-left-style: solid;
	border-right-color: #f06e5a;
	border-right-style: solid;
	border-top-color: #f06e5a;
	border-top-style: solid;
}

img
{
	padding-bottom: 0px;
	margin-bottom: 0pt;
	margin-top: 10pt;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 575px;
	border: none 0px transparent;
	border-color: #ffffff;
}

ol
{
	margin-left: 40px;
	text-align: left;
	font-size: 10pt;
}

p.TOC3
{
	margin-bottom: 2pt;
	font-size: 10pt;
	font-style: normal;
}

p.TOC4
{
	display: none;
	margin-bottom: 2pt;
}

body
{
	widows: 5;
	orphans: 3;
}

p.TOC2
{
	margin-bottom: 2pt;
}

ul
{
	text-align: left;
	page-break-inside: avoid;
	font-size: 10pt;
	list-style-type: square;
}

span.uiLabel
{
	font-weight: bold;
}

span.required
{
	color: black;
	font-size: 9pt;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}

li.noSpace
{
	margin-bottom: 0pt;
}

p.tNote
{
	border-top: solid 1px;
	border-bottom: solid 1px;
	margin-top: 10px;
	background-color: #ffffff;
	border-bottom-color: #f06e5a;
	border-top-color: #f06e5a;
	font-size: 9pt;
}

h2.newPage
{
	page-break-before: always;
}

span.listImage
{
	text-align: center;
}

span.noteTitle
{
	font-weight: bold;
}

MadCap|xref.xref_screen
{
	mc-format: '{paratext}';
}

p.imgPerLang
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
}

MadCap|breadcrumbsProxy
{
	font-family: arial;
	font-size: 10pt;
	mc-breadcrumbs-prefix: ' ';
	font-weight: normal;
	border-left-width: 0px;
	padding-top: 10px;
	border: solid 0px #f06e5a;
	border-top-width: 0px;
	border-bottom-width: 0px;
	color: #bf0000;
}

MadCap|miniTocProxy
{
	border-top-width: 0px;
	font-family: arial;
	font-weight: normal;
	line-height: normal;
	padding-bottom: 20px;
	border-bottom: solid 0px #f0aa5a;
	border-top: solid 0px #f0aa5a;
	color: #bf0000;
	font-size: 10pt;
}

MadCap|miniTocProxy a:hover
{
	text-decoration: underline;
}

p.MiniTOC1
{
	font-weight: normal;
	line-height: normal;
	color: #0000ff;
	text-decoration: underline;
}

p.MiniTOC2
{
	font-weight: normal;
	line-height: normal;
	color: #0000ff;
}

p.MiniTOC3
{
	font-weight: normal;
	line-height: normal;
	color: #000000;
}

td.level1
{
	background-color: #ffffff;
}

td.csvExample
{
	font-family: monospace;
}

p.relatedPageLink
{
	background-color: #dcdcdc;
	padding: 10px;
}

table.TOCTable
{
	font-size: 10pt;
	vertical-align: top;
	padding: 0px;
	border: solid 0px;
}

td.TOC
{
	width: 50%;
	border: solid 0px;
}

MadCap|xref.xref_screen:focus
{
	text-decoration: none;
	color: #0000ff;
}

MadCap|xref.xref_screen:link
{
	text-decoration: underline;
	color: #0000ff;
}

MadCap|xref.xref_screen:visited
{
	text-decoration: none;
	color: #0000ff;
}

MadCap|xref.xref_screen:hover
{
	text-decoration: underline;
	color: #0000ff;
}

MadCap|xref:focus
{
	color: #000000;
	text-decoration: none;
}

@media print
{
	MadCap|xref.xref_screen
	{
		color: #0000ff;
	}
}

@media non-print
{
	body
	{
		font-size: 10pt;
	}

	p.tNote
	{
		font-size: 10pt;
	}

	table
	{
		border-left-width: 0px;
		border: solid 0px #aaaaaa;
	}
}

MadCap|xref.xref_screen
{
	color: #0000ff;
}

